# Convert JSON to CSV

In [4]:
import json
from collections.abc import Iterable
from pprint import pprint

from tqdm import tqdm

import pandas as pd
import numpy as np

## 1. Dataset 1: Yelp Covid

In [2]:
yelp = []
for line in open('C:/Users/becky/OneDrive/Desktop/yelp/yelp_academic_dataset_covid_features.json', 'rb'):
    yelp.append(json.loads(line))

In [5]:
data_covid = pd.DataFrame(yelp)
data_covid

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...
209790,PAuSe4-JzDLq6YO6OKPeTg,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209791,GQEe9qAe2alEA1zzRzUr0w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209792,T-PWmMvktw0nMNO4N5XLXA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209793,stVu6q5hDxQuppwoo6m0EQ,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209794,UYig-qxG9zpzuMKns-1tDg,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [6]:
data_covid.to_csv('C:/Users/becky/OneDrive/Desktop/yelp/yelp_covid.csv', index=False)

## 2. Dataset 2: Yelp Business

In [7]:
def is_map(item):
    if isinstance(item, Iterable):
        return True
    return False

In [8]:
def try_dict(string):
    try:
        if isinstance(eval(string), dict):
            return True
        return False
    except Exception:
        return False

In [9]:
def flatten_dict(dictionary, parent_key="", sep="_"):
    items = []
    if isinstance(dictionary, (float, str)):
        # check if it is a dictionary
        if try_dict(dictionary):
            return flatten_dict(eval(dictionary), parent_key=parent_key, sep=sep)
        items.append((parent_key, dictionary))
        return dict(items)
    for k, v in dictionary.items():
        new_key = parent_key + sep + k if parent_key else k
        if is_map(v):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

In [10]:
with open("C:/Users/becky/OneDrive/Desktop/yelp/yelp_academic_dataset_business.json", "rb") as f:
    business = [x for x in [json.loads(line) for line in f] if isinstance(x, dict)]
    flatten_business = [flatten_dict(x) for x in tqdm(business)]
    pprint(flatten_business[0])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 160585/160585 [00:23<00:00, 6719.11it/s]

{'address': '921 Pearl St',
 'attributes_Alcohol': "'beer_and_wine'",
 'attributes_Ambience_casual': True,
 'attributes_Ambience_classy': False,
 'attributes_Ambience_divey': False,
 'attributes_Ambience_hipster': False,
 'attributes_Ambience_intimate': False,
 'attributes_Ambience_romantic': False,
 'attributes_Ambience_touristy': False,
 'attributes_Ambience_trendy': False,
 'attributes_Ambience_upscale': False,
 'attributes_BikeParking': 'True',
 'attributes_BusinessAcceptsBitcoin': 'False',
 'attributes_BusinessAcceptsCreditCards': 'True',
 'attributes_BusinessParking_garage': False,
 'attributes_BusinessParking_lot': False,
 'attributes_BusinessParking_street': True,
 'attributes_BusinessParking_valet': False,
 'attributes_BusinessParking_validated': False,
 'attributes_Caters': 'True',
 'attributes_DogsAllowed': 'False',
 'attributes_GoodForMeal_breakfast': False,
 'attributes_GoodForMeal_brunch': False,
 'attributes_GoodForMeal_dessert': False,
 'attributes_GoodForMeal_dinner': False,
 'attributes_GoodForMeal_latenight': False,
 'attributes_GoodForMeal_lunch': False,
 'attributes_HappyHour': 'True',
 'attributes_HasTV': 'True',
 'attributes_NoiseLevel': "u'average'",
 'attributes_OutdoorSeating': 'True',
 'attributes_RestaurantsAttire': "'casual'",
 'attributes_RestaurantsDelivery': 'None',
 'attributes_RestaurantsGoodForGroups': 'True',
 'attributes_RestaurantsPriceRange2': '2',
 'attributes_RestaurantsReservations': 'False',
 'attributes_RestaurantsTableService': 'True',
 'attributes_RestaurantsTakeOut': 'True',
 'attributes_WheelchairAccessible': 'True',
 'attributes_WiFi': "u'free'",
 'business_id': '6iYb2HFDywm3zjuRg0shjw',
 'categories': 'Gastropubs, Food, Beer Gardens, Restaurants, Bars, American '
               '(Traditional), Beer Bar, Nightlife, Breweries',
 'city': 'Boulder',
 'hours_Friday': '11:0-23:0',
 'hours_Monday': '11:0-23:0',
 'hours_Saturday': '11:0-23:0',
 'hours_Sunday': '11:0-23:0',
 'hours_Thursday': '11:0-23:0',
 'hours_Tuesday': '11:0-23:0',
 'hours_Wednesday': '11:0-23:0',
 'is_open': 1,
 'latitude': 40.0175444,
 'longitude': -105.2833481,
 'name': 'Oskar Blues Taproom',
 'postal_code': '80302',
 'review_count': 86,
 'stars': 4.0,
 'state': 'CO'}

In [11]:
data_business = pd.DataFrame(flatten_business)

In [12]:
data_business.to_csv('C:/Users/becky/OneDrive/Desktop/yelp/yelp_business.csv', index=False)

## Dataset 3: Yelp Review

In [ ]:
review = []
for line in open('C:/Users/becky/OneDrive/Desktop/yelp/yelp_academic_dataset_review.json', 'rb'):
    review.append(json.loads(line))

In [ ]:
data_review = pd.DataFrame(review)

In [ ]:
data_review.to_csv('C:/Users/becky/OneDrive/Desktop/yelp/yelp_review.csv', index=False)